# This file is contains environment variables for the hurl tests.
# Copy this file to hurl.env and edit the values as needed for your environment.

# Hostname or IP address of the CSE to test against
host=localhost

# Port number of the CSE to test against
port=8080

# Scheme to use for the requests (http or https)
scheme=http

# Authorization token to use in the requests (if needed)
# Could be a Basic string or Bearer token. Empty by default.
# Examples:
# authorization=Basic dGVzdC11c2VyOnRlc3QtcGFzcw==
# authorization=Bearer sometoken
authorization=


# CSE ID to use in the requests
csi=id-in

# Administrator originator to use in the requests
admin-originator=CAdmin

# Release version of the CSE to test against (e.g., 4, 5, 6)
release-version=5


#############################################################################
#

cse-address=$scheme://{{host}}:{{port}}/-
